<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <p>you really fucked up this time, you will never be able to correct this</p>
            <hr>
            <p>im jk, prolly wasnt a big deal just try again champ</p>
            <hr>
            <p><%= err.stack %></p>
        </div>
    </div>
</div>
